@use './base.scss';

:root {
  --primary-container: #c13787;
  --on-primary: #ffff;
  --secondary-container: #ffff;
  --on-secondary: #262626;
  --outline-low: #ccc;
  --accent-low: #d578bd;
  --accent-high: #5633d6;
  --shadow-color: #c56ea0;
  --label-low: #999999;
  --error: #c5365c;
}

#app {
  height: 100vh;
}

#wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  background: linear-gradient(
    343deg,
    rgb(197 156 58) 0%,
    rgba(213, 120, 189, 1) 46%,
    rgba(230, 155, 164, 1) 70%,
    rgba(255, 204, 128, 1) 100%
  );
  height: 100%;
  overflow-y: auto;
}

.label-sm {
  font-size: 0.75rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.w-100 {
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .validation-msg {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.25rem;
  }
}
.error-label {
  color: var(--error);
  font-size: 14px;
}

/* Animations */
.slide-up {
  animation: slide-up 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-down {
  animation: slide-down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
